body {
    background: url(https://img5.goodfon.com/wallpaper/nbig/2/ab/iron-iron-throne-games-of-thrones-swords-tron-zheleznyi-tron.jpg);
    background-size: contain;
    background-attachment: fixed;
}
